VITE_SUPABASE_URL="postgresql://postgres:n7ZDI7KrNB8h1I2U@db.hxyzlmfltdpvjhqdtawc.supabase.co:5432/postgres"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4eXpsbWZsdGRwdmpocWR0YXdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNzYwMTAsImV4cCI6MjA5Mjk1MjAxMH0.frfat9DgJjfydk2i5vDtLkjZQYp3vxY5BFu6EDUZmY0"
