FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=KqJOJcM9mjTl9EwBDwIcjG0C4XX4nNIM0HCmSXEda5Y
DATA_RAW_PATH=data_raw
DATABASE_URL=postgresql://postgres:n7ZDI7KrNB8h1I2U@db.hxyzlmfltdpvjhqdtawc.supabase.co:5432/postgres
RAW_DATA_SOURCE=db
RAW_BEH_TABLE=raw_comportamento
RAW_PERF_TABLE=raw_performance


